html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	margin: 8px 0;
	}

	p {
	margin: 0;
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.heart {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
	transition: opacity 1.5s cubic-bezier(0, 0, 0.97, 1.61);
	transition: left .2s cubic-bezier(0, 0, 0.97, 1.61);
	opacity: 1;
}

.hide {
	opacity: 0;
}

.src-code-link {
	position: absolute;
	bottom: 100%;
	left: 8px;
	bottom: 8px;
	z-index: 1;
	font-size: 10px;
}
